.logo{
    width: 250px;
    height: 250px;
}


.aside{
    position: absolute;
    left:100%;
    top:20%;
}

p.space{
    margin: 15px;
}

section .twt{
    background:url('../img/Twitter-Logo.png')  0 0 no-repeat;
    background-size: 50px 50px;
    padding-left: 60px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
}
section .devoxx{
    background:url('../img/devoxx_logo.gif')  0 0 no-repeat;
    background-size: 183px 25px;
    padding-left: 183px;
    line-height: 25px;
    height: 25px;
    display: inline-block;
}

.reveal pre{
    box-shadow: none;
}

.reveal {
    font-family: "Open Sans", "Lato", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Open Sans", "News Cycle", Impact, sans-serif;
}